
body {
  font-family: system-ui, sans-serif;
}
.numeric-box{
  border: 2px solid grey;
  border-radius: 16px;
  width: 100px;
  height: 100px;  
  margin: 10px;
  display: flex;
  justify-content: center;  
}
.alpha_text
{
  justify-content: center;
  display: flex;
  width: 100px;
}
.numbers
{
  align-items: center;
}
.box-container
{
  display: flex;
  flex-flow: wrap;
  border: 2px solid red;
  flex-flow: wrap;
}


/*

* {
  box-sizing: border-box;
}

body {
  font-family: system-ui, sans-serif;
}

.box-container {
  display: flex;
  flex-flow: wrap;
  border: 2px solid red;
}

.box {
  width: 100px;
  margin: 10px;
}

.box-main {
  border: 2px solid rgba(0,100,100,0.2);
  border-radius: 16px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-text {
  text-align: center;
}
*/